<p>
  You can bind our <code>NgbPagination</code> component with slicing the data
  list
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of data">
      <td>{{ contact.id }}</td>
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.email }}</td>
    </tr>
  </tbody>
</table>
<app-pagination [pageNumber]="page" [pageSize]="pageSize" [totalCount]="totalCount" [pageCount]="pageCount"></app-pagination>
<div class="d-flex justify-content-center p-2">
  <ul class="pagination">
    <li [className]="!previous ? 'page-item disabled' : 'page-item'">
      <button type="button" class="page-link" (click)="getData(page - 1)">Previous</button>
    </li>
    <li class="page-item active">
      <button class="page-link">{{ page }}</button>
    </li>
    <li [className]="!next ? 'page-item disabled' : 'page-item'">
      <button type="button" class="page-link" (click)="getData(page + 1)">Next</button>
    </li>
  </ul>
</div>
