<h1 class="text-center">PAGINATION ON TABLE</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of data">
      <td>{{ contact.id }}</td>
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.email }}</td>
    </tr>
  </tbody>
</table>
<app-pagination
  [pageNumber]="page"
  [pageSize]="pageSize"
  [totalCount]="totalCount"
  [pageCount]="pageCount"
  (actualPage)="getPage($event)"
></app-pagination>
